<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hello">
        <h1>Contact US</h1>
        <p>Hannes Kuslap tel: 123456789 email: emailio@ut.ee </p>
        <p>Mark Erik Pani tel: 987654321 email: email@ut.ee </p>
            
      </div>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/footer.ejs') %>
   
</body>
</html>