  
  body { 
    background-color: rgb(61, 88, 129);
    position: relative;
    text-align: center;
    margin: 0;
  }

  nav{
    
    display: flex;
    justify-content: center;
    background-color: rgb(180, 180, 180);
  }

  nav a {
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 20px;
  }

  .container  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }


